<!DOCTYPE html>
<html lang="en" th:replace="~{layout/layout-admin :: main-fragment(~{:: title}, ~{:: #css}, ~{:: .content-wrapper}, ~{:: #js})}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="https://www.thymeleaf.org">
<head>

  <title th:text="|COURSES - DANH SÁCH KHÓA HỌC|">Trang chủ</title>
  <th:block id="css">
    <!--    <link rel="stylesheet" th:href="@{/asset/css/home.css}"/>-->

  </th:block>

</head>
<body>

<div class="content-wrapper">
  <!-- Content header -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-12">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active">Danh sách khóa học</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row py-2">
        <div class="col-12">
          <a href="/admin/course-add" type="button" class="btn btn-primary">
            <i class="fas fa-plus"></i> Thêm khóa học
          </a>
        </div>
      </div>
      <div class="row py-2">
        <div class="col-6">
          <div class="input-group mb-3">
            <input
                    type="text"
                    class="form-control search-course"
                    placeholder="Nhập thông tin ..."
                    aria-describedby="button-addon2"
            />
            <button
                    class="btn btn-outline-secondary"
                    type="button"
                    id="button-search"
            >
              Tìm kiếm
            </button>
            <button
                    class="btn btn-outline-secondary"
                    type="button"
                    id="button-clear"
            >
              Clear
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <table class="table table-bordered table-hover">
                <thead class="text-center">
                <tr>
                  <th class="align-top">Id</th>
                  <th class="align-top">Khóa học</th>
                  <th class="align-top">Thể loại</th>
                  <th class="align-top">Nhóm</th>
                  <th class="align-top">Trình độ</th>
                  <th class="align-top">Trạng thái</th>
                  <th class="align-top">Chi tiết</th>
                </tr>
                </thead>
                <tbody class="table-courses-content">

                </tbody>
              </table>

              <div
                      class="d-flex justify-content-center mt-3"
                      id="pagination"
              >

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<th:block id="js">

  <script th:inline="javascript">

    let pageInfo = [[${pageInfo}]];
    console.log(pageInfo);

    let keyword = [[${keyword}]];
    console.log(keyword);
    $(".search-course").val(keyword);


    function addActiveToNavLink(innerText){
      const $navLinkEl=$(".nav-link");
      $navLinkEl.each((index,el)=>{
        const $title=$(el).find("p");
        if ($title.text().trim().toLowerCase()===innerText.toLowerCase()){
          $(el).addClass("active");
        }
      })
    }
    addActiveToNavLink("Quản lý nội dung");
    addActiveToNavLink("Khóa học");

  </script>
    <script th:src="@{/asset/js/admin-courses.js}"></script>

</th:block>
</body>
</html>