.word-photo .photo{
   
    width: 192px;
    height: 192px;
    padding: 6px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.word-photo .photo img{
   
    height: 100%;
    
}

.update-photo > label {
  margin-left: 15px;
  height: 100%;
  display: flex;
  align-items: center;
  color: #00a3f8;
  cursor: pointer;
  width: 100%;

  font-weight: 500;
}

.update-photo input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.play-sound i{
    background: none;
    width: 31.333px;
    height: 32px;
    border-radius: 0;
    margin-right: 8px;
    float: left;
    margin-top: 6px;
    color: rgb(7, 232, 232);
    cursor: pointer;
}

.group-item{
    margin-bottom: 20px;
}