<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="footer" class="footer">
    <div class="footer-cover">
        <ul>
            <li>
                <a href="">VỀ VOCABULARY</a>
            </li>
            <li>
                <a href="">KHÓA HỌC</a>
            </li>
            <li>
                <a href="">PREMIUM</a>
            </li>
            <li>
                <a href="">BLOG</a>
            </li>
            <li>
                <a href="">LIÊN HỆ</a>
            </li>
        </ul>
    </div>
</div>

</body>
</html>